/* FOUC */
[data-markdown] {
  display: none;
}
[data-markdown].show {
  display: block;
}

/* HEADER */
.hero {
  padding: 40px 0;
}

/* LIST */
ul li a {
  color: #2499b6;
}


p, li  {
  font-size: 1.3em;
}
