/* FOUC */
[data-markdown] {
    display: none;
}
[data-markdown].show {
    display: block;
}

/* HEADER */
.hero {
    padding: 40px 0;
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: #2499b6;
    font-size: 150%;
}
